<div class="ui fixed menu">
        <div class="ui container">
          <a href="#" class="header item">
            <!-- <img class="logo" src="assets/images/logo.png"> -->
            <h2>trazodo.com</h2>
          </a>
          <!-- <a href="/home" class="item">Home</a> -->
          <a href="/profile" class="item">Profile</a>
          <a href="/trips" class="item">My Trips</a>
          <a href="/friend_requests" class="item">Requests</a>
          <a href="/create" class="item">Create New Trip</a>
          <!-- <a routerLink="/create" class="item">Create Trip</a> -->
          <a class="ui simple right dropdown item">
            <b>Sudhakar Camilos</b> <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">Profile</div>
              <div class="item">Settings</div>
              <div class="item">Manage Account</div>
              <div class="item">Logout</div>
            </div>
          </a>
        </div>
      </div>