{% extends "index.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="ui container">
  <div class="row">
    <div class="ui fluid icon input">
      <input type="text" placeholder="Search trips...">
      <i class="inverted circular search link icon"></i>
    </div>
    <!-- <button class="medium ui right floated button blue"><i class="user icon"></i>Create Trips</button> -->
  </div>
  <br>
  <div class="ui grid container">
    <br>
    <h3>My Trips</h3>
    <div class="row">
      <div class="ui grid">
        {% for trip in trips%}
        <div class="four wide column">
          <div class="ui card">
            <div class="image">
              <img src="static/images/dest/{{range(1,17)|random}}.jpg">
            </div>
            <div class="content">
              <a class="header">{{trip[1]}}</a>
              <div class="meta">
                <span class="date">{{trip[5]}}</span>
              </div>
              <div class="description">
                  {{trip[3]}} - {{trip[4]}}
              </div>
            </div>
            <div class="extra content">
              <a>
                <i class="user icon"></i>
                22 Friends
              </a>
            </div>
          </div>
        </div>
        {% endfor%}
      </div>

    </div>
  </div>
  <br>
  <div class="ui pagination right floated menu">
    <a class="active item">
      1
    </a>
    <div class="disabled item">
      ...
    </div>
    <a class="item">
      10
    </a>
    <a class="item">
      11
    </a>
    <a class="item">
      12
    </a>
  </div>
</div>
<br>
<br>
<br>
<br>
{% endblock %}