<div class="ui middle aligned list">
        <div class="ui segments">
            <div class="ui segment">
                <div class="item">
                    <div class="header"><b>{{offer['duration']}}</b> </div>
                    <div class="ui huge horizontal divided list">
                        <div class="item">
                            <div class="content">
                                <div class="header">{{offer.flt}}</div>
                            </div>
                        </div>
                        <div class="item">
                            <img class="ui mini image" src="static/images/delta.png">
                            <div class="content">
                                <div class="header">{{offer.origin}}</div>
                                {{offer.dept_date}} , {{offer.dept_time}}
                            </div>
                        </div>
                        <div class="item">
                            <img class="ui mini image" src="static/images/delta.png">
                            <div class="content">
                                <div class="header">{{offer.destination}}</div>
                                {{offer.arr_date}} , {{offer.arr_time}}
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>